# Environments
.env
.env.local

# Node
node_modules/
npm-debug.log
yarn-error.log

# Python
__pycache__/
*.pyc
venv/
env/
.Python

# Mac/System
.DS_Store
Thumbs.db

# Test Cases
Test_Cases_Project_Aura.html

Test_Cases_Project_Aura
Final_Report_Aura.md
Final_Report_Project_Aura.md

